# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_OCCOKBD_LEFT
	def_bool $(shields_list_contains,occokbd_left)

config SHIELD_OCCCOKBD_RIGHT
	def_bool $(shields_list_contains,occokbd_right)
